.card, .card2{
    opacity: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.slide-in {
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

.sideslide-in {
    opacity: 0;
    animation: sideslideIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes slideIn {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sideslideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}